@model List<OBSPRO.Models.Observation>
@{
    ViewBag.Title = "Observations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .personal-info {
        margin: 0px;
    }

    fieldset.scheduler-border {
        border: 2px solid #ddd !important;
        padding: 3px 10px 3px 40px;
        margin: 0 0 1.5em 0 !important;
        /*-webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;*/
    }

    legend.scheduler-border {
        font-size:medium;
        width: inherit; /* Or auto */
        padding: 0 10px; /* To give a bit of padding on the left and right */
        border-bottom: none;
        margin: 0 0;
    }
</style>
<form method="get">
    <div class="row">
        <div class="col-lg-4">
            <br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Search</span>
                <input type="text" id="searchString" name="searchString" class="form-control" value="@ViewBag.searchText" aria-describedby="basic-addon1">
                <button type="submit" class="btn btn-primary">GO</button>
            </div>
        </div>
        <div class="col-lg-4">
            <fieldset class="scheduler-border row">
                <legend class="scheduler-border">Filter By Status</legend>
                <div class="col-sm-3" style="padding:0 0; ">
                    <div class="checkbox" >
                        <label>
                            <input type="checkbox" id="frmStatus" name="frmStatus" value="STARTED" @ViewBag.Open>Started
                        </label>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="frmStatus" name="frmStatus" value="READY FOR REVIEW" @ViewBag.Ready>Ready For Review
                        </label>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="frmStatus" name="frmStatus" value="COMPLETED" @ViewBag.Completed>Completed
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

</form>
<div class="row personal-info">
    <div class="panel panel-info">
        <!-- PANEL HEADER-->
        <div class="panel-heading">
            <table style="width:100%">
                <tr>
                    <td>
                        <b>@*@Model.First().status*@ OBSERVATIONS</b>
                        @*<a class="accordion-toggle" data-toggle="collapse" href="#panelSection01">
                                <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                <b>OBSERVATION INSTANCES</b>
                            </a>*@
                    </td>
                </tr>
            </table>
        </div>
        <!-- PANEL BODY -->
        <div class="panel-body collapse in" id="panelSection01">
            <table class="table table-condensed table-hover table-responsive">
                <thead>
                    <tr>
                        @*<th>Form Id</th>*@
                        <th>@Html.ActionLink("FORM TITLE", "Index", new { sortBy = ViewBag.sortTitleParameter, searchString = ViewBag.searchText, frmStatus = ViewBag.FullfrmStatus })</th>
                        <th>@Html.ActionLink("OBSERVER", "Index", new { sortBy = ViewBag.sortObserverParameter, searchString = ViewBag.searchText, frmStatus = ViewBag.FullfrmStatus })</th>
                        <th>@Html.ActionLink("EMPLOYEE OBSERVED", "Index", new { sortBy = ViewBag.sortEmpObservedParameter, searchString = ViewBag.searchText, frmStatus = ViewBag.FullfrmStatus })</th>
                        <th>@Html.ActionLink("OBS Status", "Index", new { sortBy = ViewBag.sortStatusParameter, searchString = ViewBag.searchText, frmStatus = ViewBag.FullfrmStatus })</th>
                        <th style="text-align:center">@Html.ActionLink("ADP ID", "Index", new { sortBy = ViewBag.sortADPParameter, searchString = ViewBag.searchText, frmStatus = ViewBag.FullfrmStatus })</th>
                        <th style="text-align:center">@Html.ActionLink("Started On", "Index", new { sortBy = ViewBag.sortStartDateParameter, searchString = ViewBag.searchText, frmStatus = ViewBag.FullfrmStatus })</th>
                        <th style="text-align:center">@Html.ActionLink("Completed On", "Index", new { sortBy = ViewBag.sortComplDateParameter, searchString = ViewBag.searchText, frmStatus = ViewBag.FullfrmStatus })</th>
                        <th style="text-align:center"><a href="#">Reviewed On</a></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    { // No records Found
                        <tr>
                            <td colspan="7" style="text-align:center;">
                                <div class="alert-warning" style="padding:4px; font-size:large; margin-top:10px">There are No Forms to Display</div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var observation in Model)
                        {
                            var dateStarted = Convert.ToDateTime(observation.obs_start_time).ToString("MMM dd, yyyy hh:mm tt");
                            <tr>
                                @*<td>@observation.form_inst_id </td>*@
                                <td style="width:30%">@Html.ActionLink(observation.form_title, "viewForm", "Observation", new { id = @observation.form_inst_id }, null)</td>
                                <td>@observation.observer_first_name  @observation.observer_last_name</td>
                                <td>@observation.observed_first_name @observation.observed_last_name</td>
                                <td>@observation.status</td>
                                <td style="text-align:center">@observation.observed_adp_id</td>
                                @*<td style="text-align:center">@observation.observed_id</td>*@
                                <td style="text-align:center">@dateStarted</td>
                                <td style="text-align:center">
                                    @if (observation.obs_compl_time.Substring(0, 12).Equals("Jan 01, 0001"))
                                    { <text>Not Completed</text>}
                                    else
                                    { @observation.obs_compl_time;
                                    }
                                </td>
                                <td style="text-align:center"></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->
