@model OBSPRO.Models.OBSCollectionForm
@{
    ViewBag.Title = "Observation Collection Form View";
}
@{
    var qcounter = 1;
}
<link href="~/Content/viewForm.css" rel="stylesheet" />
<link href="~/Content/bootstrap-dialog.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/obsGlobal.js"></script>
<script type="text/javascript">

    //$(document).ready(function () {
    //    init();
    //});

    //function init() {
    //    $('#overlay').click(function () { closeDialog(); })
    //}

    //function openDialog(element) {
    //    //this is the general dialog handler.
    //    //pass the element name and this will copy
    //    //the contents of the element to the dialog box
    //    alert("Opening Dialog");

    //    $('#overlay').css('height', $(document.body).height() + 'px');
    //    $('#overlay').show();
    //    //$('#dialog').html($(element).html());
    //    centerMe(element);
    //    //$('#dialog').show();
    //    element.show();
    //}


    //function centerMe(element) {
    //    //pass element name to be centered on screen
    //    var pWidth = $(window).width();
    //    var pHeight = $(window).height();
    //    var pTop = $(window).scrollTop();
    //    var eWidth = element.width();
    //    var eHeight = element.height();
    //    element.css('top', '130px');
    //    //$(element).css('top',pTop+100+'px')
    //    element.css('left', parseInt((pWidth / 2) - (eWidth / 2)) + 'px');
    //    element.css('top', parseInt((pHeight / 2) - (eHeight / 2)) + 'px');
    //}

</script>

<div id="pageVars">
    <input type="hidden" id="obsInstId" value="@Model.obsInstId"/>
</div>

<div style="max-width:1248px; margin:80px 0px 0px 50px; ">
    @*<section id="formHeader " style="margin:0; padding:0; position:fixed; top:95px; z-index:999; width:1250px; "></section>*@
    <section id="formHeader " style="margin:0; padding:0; position:fixed; top:85px; z-index:999; width:1250px; ">
   @*<section class="mainHeader" id="formHeader " style="margin:0 auto; padding:0; z-index:999; width:1250px; ">*@
        <div class="panel panel-info" style="margin:0; padding:2px 2px 2px 2px; z-index:998; border:none">
            <div class="panel-heading " style="background-color:#b62525; color:white; padding:0px">
                <div class="row" style="text-align:center; margin:0px">
                    @*<div class="col-sm-1">
                        <span style="float:left"></span>
                    </div>*@
                    <div class="col-sm-9 hideMe" style="margin:0 auto; padding:4px; font-size: x-large; text-align:left; padding-left:15px">
                        <span style="padding:0px; margin:0px"><b>@Model.colFormTitle</b></span>
                        @*<h3 style="padding:0px; margin:0px"><b>@Model.colFormTitle</b></h3>*@
                        @if (!Model.colFormSubtitle.Equals("")) { <span>( @Model.colFormSubtitle )</span>}
                    </div>
                    <div class="col-sm-3" style="padding:0px; text-align:left;font-size:18px; padding-top:7px">
                        <span style="">Status:&nbsp;&nbsp;@Model.colFormStatus</span>
                    </div>
                    @*<div class="col-sm-2" style="padding:0px">
                        <div class="row" style="margin-right:2px; padding:0px">
                                <button type="button" id="btnPrintForm" class="btn btnOBS" style="float:right">
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
                                </button>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="panel-body content " style="padding:4px; border:1px solid #c6c6c6">
                <div class="row" style="padding:0px; margin:0; width:100%; ">
                    <div class="col-sm-4 nomargin" style="margin:0; ">
                        <div class="row headerColRow" >
                            <div class="col-sm-5 boldLabel" > <span style="float:right">Employee Observed:</span></div>
                            <div class="col-sm-7 dataLabel" > <span style="float: left;">@Model.observedEmployeeFullName</span></div>
                        </div>
                        <div class="row headerColRow" >
                            <div class="col-sm-5 boldLabel" > <span style="float: right; ">Observed ADP ID:</span></div>
                            <div class="col-sm-7 dataLabel"> <span style="float: left; ">@Model.observedADPID</span></div>
                        </div>
                        <div class="row headerColRow">
                            <div class="col-sm-5 boldLabel" > <span style="float: right; ">Logistics Center:</span></div>
                            <div class="col-sm-7 dataLabel"> <span style="float: left; ">@Model.lc_id</span></div>
                        </div>
                    </div>
                    <div class="col-sm-4 nomargin" style="margin:0;">
                        <div  style="">
                            @if (Model.colFormStatus.Equals("Ready for Review"))
                            {
                                <div class="row headerColRow" style="text-align:center">
                                    <a id="completeReviewForm" href="#">
                                        <span class="glyphicon glyphicon-list-alt" style="text-decoration:underline"></span>
                                        <span style="margin-left:10px">Complete Employee Review</span>
                                    </a>
                                </div>
                            }
                            <div class="row headerColRow" style="text-align:center">
                                <a id="printColForm" href="#">
                                    <span class="glyphicon glyphicon-print" style="text-decoration:underline"></span>
                                    <span style="margin-left:10px">Print Collection Form</span>
                                </a>
                            </div>
                            @if (Model.colFormStatus.Equals("Ready for Review"))
                            {
                                <div class="row headerColRow" style="text-align:center">
                                    <a id="printReviewForm" href="#" download><span class="glyphicon glyphicon-print" style="text-decoration:underline"></span><span style="margin-left:10px">Print Review Form</span></a>
                                </div>
                            }
                            else
                            {
                                <div class="row headerColRow" style="text-align:center; color:#c6c6c6">
                                    <span class="glyphicon glyphicon-print" style="text-decoration:underline"></span><span style="margin-left:10px">Print Review Form</span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4 nomargin" style="margin:0;">
                        <div class="row headerColRow">
                            <div class="col-sm-5 boldLabel"> <span style="float: right;">Observer:</span></div>
                            <div class="col-sm-7 dataLabel"> <span style="float: left;">@Model.observerEmployeeFullName</span></div>
                        </div>
                        <div class="row headerColRow">
                            <div class="col-sm-5 boldLabel"> <span style="float: right;">Obs Started:</span></div>
                            <div class="col-sm-7 dataLabel"> <span style="float: left;">@Model.strColFormStartDateTime</span></div>
                        </div>
                        <div class="row headerColRow">
                            <div class="col-sm-5 boldLabel"> <span style="float: right; ">Obs Completed:</span></div>
                            <div class="col-sm-7 dataLabel"> 
                                <span style="float: left; ">
                                @if (@Model.strColFormSubmittedDateTime.Equals("")) { <tex> - Not Completed -</tex>}
                                else { @Model.strColFormSubmittedDateTime}                                
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <section id="formBody" style="overflow-y:auto; margin-top:115px; margin-left:2px; padding:0; height:600px" >

    @foreach (var sec in Model.sections)
    {
      <div class="panel panel-default" style="margin:0px 0px; ">
         <div class="panel-heading" style="background-color:#292222">
            <h4 class="panel-title" style="color:white">
                 @sec.sectionName
            </h4>
         </div>
         <div class="panel-body content" style="padding:0px;">
           @foreach (var quest in sec.questions)
           {
             <div class="@quest.responseClass" style="margin: 1px 2px 0px 2px; padding:0px;">
                 @*------------------------------ QUESTION SECTION --------------------------------------------*@
                 <div class="row" style="font-weight:bold;margin:0px 5px 7px 8px; margin-top: 3px; padding:0px; ">
                    <div class="col-sm-10" style="margin:0px 0px; padding-left:3px">
                         <span style="font-size:large">@qcounter&nbsp;&nbsp;</span><span style="font-size:medium">@quest.questionText</span>
                    </div>
                    <div class="col-sm-2" style="margin:0px 0px">
                       @if (@quest.responseClass.Equals("unanswered"))
                       { <span style="float:right; color:red; font-size:x-small; margin-right:20px">*Answer Pending</span> }
                    </div>
                 </div>
                 @*<div class="row" style="margin-left:30px">
                     can add comment: @quest.canAddComment  must add comment: @quest.mustAddComment
                 </div>*@
                 @*------------------------------ ANSWER SECTION ---------------------------------------------*@
                 <div class="row" style="margin:0px 0px 0px 25px; padding:0px;">
                   @{
                       string colWidth = "";
                       if (quest.showsNA.Equals("true")) { colWidth = "col-sm-11"; }
                       else { colWidth = "col-sm-12"; }
                   }

                       <div class="@colWidth" >
                         @if (quest.answerType == "FREE_TXT")
                         {// Show FREE TEXT ANSWER BOX
                            <div class='fake_textarea' style="margin-left: -3px; width: 99%; background-color:white">
                                <b>Answer: </b> @quest.comments.Trim()
                            </div>
                            @*<fieldset class="textComment">
                                    <legend class="textComment">Answer</legend>
                                    @quest.comments.Trim()
                            </fieldset>*@
                         }
                         else
                         {
                            <ul class="list-inline">
                              @foreach (var ans in quest.answers)
                              {
                                 if (ans.isSelected) { <li><span class="badge" style="padding:6px">@ans.answerText</span></li> }
                                 else { <li>@ans.answerText</li> }
                              }
                            </ul>
                         }
                       </div>

                   @if (quest.showsNA.Equals("true"))
                   {
                       <div class="col-sm-1">
                          @if (quest.naSelected) { <span class="badge" style="padding:6px">N/A</span>                 }
                          else                   { <span class="badge badge-outline" style="padding:6px;">N/A</span>  }
                       </div>
                   }

                    </div>
                 @*------------------------------ ANSWER COMMENT SECTION ---------------------------------------------*@
                 @* ----  Display the Comment Box Only if the Question is not a FREE_TEXT question -----   *@
                 @if (quest.answerType != "FREE_TXT")
                 {
                     <div class="row" style="margin:0px 0px 0px 20px; padding:0px 0px 0px 0px; ">
                       @if (!String.IsNullOrEmpty(quest.comments))
                       {
                           <div class='fake_textarea'>
                               <b>Comment: </b> @quest.comments
                           </div>
                       }
                     </div>
                 }
             </div>
              qcounter += 1;
           }
         </div>
      </div>
    }
      <br />
      <div class="row" style="margin:0; padding:0;text-align:center; font-style:italic; color:darkgray">Form Id: @Model.obsColFormInstId <span style="margin-left:10px">Version: @Model.colFormVersion</span></div>
  </section>
</div>

<br />

<div id="popupCompleteReview" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:45%; min-width:700px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="color:white; background-color:#b62525">
                @*background-color:#904545*@
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center">Observation Review Confirmation</h4>
            </div>
            <div class="modal-body" id="popupFormBody" >
                <div class="row " id="popupFormBodyData" style="margin-top:40px; margin-bottom:30px; ">
                    <div class="row" style="padding:0px; margin:0; width:100%; ">
                        <div class="col-sm-6 nomargin" style="margin:0; ">
                            <div class="row headerColRow">
                                <div class="col-sm-5 boldLabel"> <span style="float:right">Employee Observed:</span></div>
                                <div class="col-sm-7 dataLabel"> <span style="float: left;">@Model.observedEmployeeFullName</span></div>
                            </div>
                            <div class="row headerColRow">
                                <div class="col-sm-5 boldLabel"> <span style="float: right; ">Observed ADP ID:</span></div>
                                <div class="col-sm-7 dataLabel"> <span style="float: left; ">@Model.observedADPID</span></div>
                            </div>
                            <div class="row headerColRow">
                                <div class="col-sm-5 boldLabel"> <span style="float: right; ">Logistics Center:</span></div>
                                <div class="col-sm-7 dataLabel"> <span style="float: left; ">@Model.lc_id</span></div>
                            </div>
                        </div>
                        <div class="col-sm-6 nomargin" style="margin:0;">
                            <div class="row headerColRow">
                                <div class="col-sm-5 boldLabel"> <span style="float: right;">Form Title:</span></div>
                                <div class="col-sm-7 dataLabel"> <span style="float: left;">@Model.colFormTitle</span></div>
                            </div>
                            <div class="row headerColRow">
                                <div class="col-sm-5 boldLabel"> <span style="float: right;">Observer:</span></div>
                                <div class="col-sm-7 dataLabel"> <span style="float: left;">@Model.observerEmployeeFullName</span></div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <br />
                    <div style="width:90%; margin:0 auto; border:2px solid black; border-radius:4px; padding:7px; text-align:left;">
                        <span style="font-weight:bold">Notice - </span>
                        <span>Proin sodales quam non eros blandit, et suscipit metus dictum. Vestibulis malesuades diam augue, eu gravida est congue nec. Proin nec mi non risus vehicula congue...</span>
                    </div>
                    <br /><br />
                    <div class="checkbox" style="text-align:center">
                        <label><input id="chkIsReviewed" type="checkbox" value="">Mark as reviewed</label>
                    </div>
                    <br />
                    <div id="saveResultMessage" style="text-align:center">

                    </div>
                </div>
            </div>
            <div class="modal-footer" id="popupFormFooter" style="text-align:center">
                <button type="button" class="btn btn-primary" id="btnReviewSave" @*data-dismiss="modal"*@ style="width:120px" disabled>SAVE</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Adjust or Set the correct Margin Height of the Form Body
        //$("#formBody").css("margin-top", $("#formHeader").outerHeight() - 12 + 50);

        $("#formBody").css("height", ($(window).height() - $("#formHeader").outerHeight() - 260));

        //---------------------------------------------------------------------------

        $("#printColForm").click(function (e) {
            e.preventDefault();
            var server_env = "@Model.colFormPrintPath";
            //alert("You are in the " + server_env + " Environment.");
            var cgURL = "http://dsccognosprdws1.dsccorp.net:80/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run";
            var cgRptPath = "";  // ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%20-%20Dev%27%5d&ui.name=Observation%20Collection%20Form%20-%20Dev
            var cgRptOptions = "&run.outputFormat=PDF&run.prompt=false&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!";
            var urlParams = "&p_cfi_id=" + "@Model.obsColFormInstId";
            var cgbackURL = "&ui.backURL=%2fibmcognos%2fcgi-bin%2fcognosisapi.dll%3fb_action%3dxts.run%26m%3dportal%2fcc.xts%26m_folder%3d";
            var folderId = "";    //Example:  "iCB0D41DDB02D428D8A78DB5821709948";
            var reportURL = "";

            switch (server_env) {
                case 'Development':
                    cgRptPath = "&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%20-%20Dev%20v1.0%27%5d&ui.name=Observation%20Collection%20Form%20-%20Dev%20v1.0";
                    folderId = "i4A050ECBA2694D719A489A1BCAA9E942";
                    break;
                case 'QA':
                    cgRptPath = "&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%20-%20QA%20v1.0%27%5d&ui.name=Observation%20Collection%20Form%20-%20QA%20v1.0";
                    folderId = "iCB0D41DDB02D428D8A78DB5821709948";
                    break;
                case 'Production':
                    cgRptPath = "&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%20-%20Prod%20v1.0%27%5d&ui.name=Observation%20Collection%20Form%20-%20Prod%20v1.0";
                    folderId = "iCB0D41DDB02D428D8A78DB5821709948";
                    break;
                default:
                    alert("Unable to determine your system path for reporting.\nPlease contact the Service Desk");
            }

            if (!(folderId == "")) {
                //A valid Environemnt was found
                reportURL = cgURL + cgRptPath + urlParams + cgRptOptions + cgbackURL + folderId;
                //alert("URL is:\n" + reportURL);
                //document.getElementById("rptFrame").src = reportURL;

                window.open(reportURL);
                //alert("Changing href");
                //$("#dowmloadlink").prop("href", "http://www.msn.com");
                //alert("New link is: " + $("#dowmloadlink").prop("href"));
                //$("#dowmloadlink").click();
                //alert("Link Clicked");
            }

            @*if (server_env == "Production") {
                url = "http://dsccognosprdws1.dsccorp.net:80/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%27%5d&ui.name=Observation%20Collection%20Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
                url = url + "@Model.obsColFormInstId" + "&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=/ibmcognos/cgi-bin/cognosisapi.dll?b_action=xts.run&m=portal/cc.xts&m_folder=i949DC5C8B6684AD2A14B6223F6707FF2";

            }
            else {
                url = "http://dsccognosdevws1.dsccorp.net/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=/content/folder[%40name='SDK']/report[%40name='Observation Collection Form']&ui.name=Observation Collection Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
                url = url + "@Model.obsColFormInstId" + "&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=/ibmcognos/cgi-bin/cognosisapi.dll?b_action=xts.run&m=portal/cc.xts&m_folder=iFA794FAF9D6A4AC6B67192521DB5FAD9";
            }*@
            //window.open(reportURL);
        });

        $("#printReviewForm").click(function (e) {
            e.preventDefault();
            var server_env = "@Model.colFormPrintPath";
            //alert("You are in the " + server_env + " Environment.");
            var cgURL = "http://dsccognosprdws1.dsccorp.net:80/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run";
            var cgRptPath = "";  // ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%20-%20Dev%27%5d&ui.name=Observation%20Collection%20Form%20-%20Dev
            var cgRptOptions = "&run.outputFormat=PDF&run.prompt=false&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!";
            var urlParams = "&p_cfi_id=" + "@Model.obsColFormInstId";
            var cgbackURL = "&ui.backURL=%2fibmcognos%2fcgi-bin%2fcognosisapi.dll%3fb_action%3dxts.run%26m%3dportal%2fcc.xts%26m_folder%3d";
            var folderId = "";    //Parent Folder - Example:  "iCB0D41DDB02D428D8A78DB5821709948";
            var reportURL = "";

            switch (server_env) {
                case 'Development':
                    cgRptPath = "&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Review%20Form%20-%20Dev%27%5d&ui.name=Observation%20Review%20Form%20-%20Dev";
                    folderId = "iCB0D41DDB02D428D8A78DB5821709948";
                    break;
                case 'QA':
                    cgRptPath = "&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Review%20Form%20-%20QA%27%5d&ui.name=Observation%20Review%20Form%20-%20QA";
                    folderId = "iCB0D41DDB02D428D8A78DB5821709948";
                    break;
                case 'Production':
                    cgRptPath = "&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%27%5d%2freport%5b%40name%3d%27Observation%20Review%20Form%20-%20Prod%27%5d&ui.name=Observation%20Review%20Form%20-%20Prod";
                    folderId = "iCB0D41DDB02D428D8A78DB5821709948";
                    break;
                default:
                    alert("Unable to determine your system path for reporting.\nPlease contact the Service Desk");
            }

            if (!(folderId == "")) {
                //A valid Environemnt was found
                reportURL = cgURL + cgRptPath + urlParams + cgRptOptions + cgbackURL + folderId;
                window.open(reportURL);
            }

        });

        $("#completeReviewForm").click(function (e) {
            $('#popupCompleteReview').modal('show');
            //if (reload == 'Y') { $('#reloadPage').val('Y'); }
        });

        $('#chkIsReviewed').change(function () {
            if ($(this).prop('checked')) { $('#btnReviewSave').prop('disabled', false); }
            else { $('#btnReviewSave').prop('disabled', true); }
        });

        $("#btnReviewSave").click(function (e) {
            var obsInstanceId = $('#obsInstId').val();
            //alert("Updating Status of Observation Intance Id: '" + obsInstanceId + "' as 'Reviewed'");

            $('#saveResultMessage').html("Please wait. Updating form status...");

            //Call ajax to Mark the observation as Reviewed and relaod the page if successful.
            $.ajax({
                url: '/Observation/completeObsReview/' + obsInstanceId,
                method: "POST",
                cache: false,
                dataType: "text",
                //data: { uFName: pFName, uLName: pLName, uLoginName: pLoginName, email: pEmail, uRole: pRole, uBuildings: pBuildings, uId: pId, turnOff: pTurnOff },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#saveResultMessage').html("Update Failed!" + errorThrown);
                }
            }).done(function (ajaxResult) {
                if (ajaxResult == "Success") {
                    location.reload();
                }
                else { $('#saveResultMessage').html(ajaxResult); }
            });

        });

    });

</script>
