@model OBSPRO.Models.OBSCollectionForm
@{
    ViewBag.Title = "Observation Collection Form View";
}
@{
    var qcounter = 1;
}
<link href="~/Content/viewForm.css" rel="stylesheet" />
<link href="~/Content/bootstrap-dialog.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-dialog.js"></script>
<script src="~/Scripts/obsGlobal.js"></script>
<script type="text/javascript">
    //$(document).ready(function () {
    //    init();
    //});

    //function init() {
    //    $('#overlay').click(function () { closeDialog(); })
    //}

    //function openDialog(element) {
    //    //this is the general dialog handler.
    //    //pass the element name and this will copy
    //    //the contents of the element to the dialog box
    //    alert("Opening Dialog");

    //    $('#overlay').css('height', $(document.body).height() + 'px');
    //    $('#overlay').show();
    //    //$('#dialog').html($(element).html());
    //    centerMe(element);
    //    //$('#dialog').show();
    //    element.show();
    //}

    //function closeDialog() {
    //    $('#overlay').hide();
    //    $('#content').hide();
    //    $('#contentB').hide();
    //    //$('#dialog').hide().html('');
    //}

    //function centerMe(element) {
    //    //pass element name to be centered on screen
    //    var pWidth = $(window).width();
    //    var pHeight = $(window).height();
    //    var pTop = $(window).scrollTop();
    //    var eWidth = element.width();
    //    var eHeight = element.height();
    //    element.css('top', '130px');
    //    //$(element).css('top',pTop+100+'px')
    //    element.css('left', parseInt((pWidth / 2) - (eWidth / 2)) + 'px');
    //    element.css('top', parseInt((pHeight / 2) - (eHeight / 2)) + 'px');
    //}

</script>
<div style="max-width:1248px; margin:80px 0px 0px 50px; ">
    @*<section id="formHeader " style="margin:0; padding:0; position:fixed; top:95px; z-index:999; width:1250px; "></section>*@
    <section id="formHeader " style="margin:0; padding:0; position:fixed; top:85px; z-index:999; width:1250px; ">
   @*<section class="mainHeader" id="formHeader " style="margin:0 auto; padding:0; z-index:999; width:1250px; ">*@
        <div class="panel panel-info" style="margin:0; padding:2px 2px 2px 2px; z-index:998; border:none">
            <div class="panel-heading " style="background-color:#b62525; color:white; padding:0px">
                <div class="row" style="text-align:center; margin:0px">
                    @*<div class="col-sm-1">
                        <span style="float:left"></span>
                    </div>*@
                    <div class="col-sm-12 hideMe" style="margin:0 auto; padding:4px; font-size: x-large">
                        <span style="padding:0px; margin:0px"><b>@Model.colFormTitle</b></span>
                        @*<h3 style="padding:0px; margin:0px"><b>@Model.colFormTitle</b></h3>*@
                        @if (!Model.colFormSubtitle.Equals("")) { <span>( @Model.colFormSubtitle )</span>}
                    </div>
                    @*<div class="col-sm-2" style="padding:0px">
                        <div class="row" style="margin-right:2px; padding:0px">
                                <button type="button" id="btnPrintForm" class="btn btnOBS" style="float:right">
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print
                                </button>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="panel-body content " style="padding:4px; border:1px solid #c6c6c6">
                <div class="row" style="padding:0px; margin:0; width:100%; ">
                    <div class="col-sm-5 nomargin" style="margin:0; ">
                        <div class="row headerColRow" >
                            <div class="col-sm-5 boldLabel" > <span style="float:right">Employee Observed:</span></div>
                            <div class="col-sm-7 dataLabel" > <span style="float: left;">@Model.observedEmployeeFullName</span></div>
                        </div>
                        <div class="row headerColRow" >
                            <div class="col-sm-5 boldLabel" > <span style="float: right; ">Observed ADP ID:</span></div>
                            <div class="col-sm-7 dataLabel"> <span style="float: left; ">@Model.observedADPID</span></div>
                        </div>
                        <div class="row headerColRow">
                            <div class="col-sm-5 boldLabel" > <span style="float: right; ">Logistics Center:</span></div>
                            <div class="col-sm-7 dataLabel"> <span style="float: left; ">@Model.lc_id</span></div>
                        </div>
                    </div>
                    <div class="col-sm-3 nomargin" style="margin:0; ">
                        <div  style="width:180px">
                            <div class="row headerColRow" style="font-weight:bold; text-align:center">
                                <span>Status:</span>
                                <span style="color: blue">@Model.colFormStatus</span>
                            </div>
                            <div class="row headerColRow" style="text-align:center">
                                <a id="printColForm" href="#"><span class="glyphicon glyphicon-print" style="text-decoration:underline"></span><span style="margin-left:10px">Print Collection Form</span></a>
                            </div>
                            @if (Model.colFormStatus.Equals("Ready for Review"))
                            {
                                <div class="row headerColRow" style="text-align:center">
                                    <a id="printReviewForm" href="#"><span class="glyphicon glyphicon-print" style="text-decoration:underline"></span><span style="margin-left:10px">Print Review Form</span></a>
                                </div>
                            }
                            else
                            {
                                <div class="row headerColRow" style="text-align:center; color:#c6c6c6">
                                    <span class="glyphicon glyphicon-print" style="text-decoration:underline"></span><span style="margin-left:10px">Print Review Form</span>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-4 nomargin" style="margin:0;">
                        <div class="row headerColRow">
                            <div class="col-sm-5 boldLabel"> <span style="float: right;">Observer:</span></div>
                            <div class="col-sm-7 dataLabel"> <span style="float: left;">@Model.observerEmployeeFullName</span></div>
                        </div>
                        <div class="row headerColRow">
                            <div class="col-sm-5 boldLabel"> <span style="float: right;">Obs Started:</span></div>
                            <div class="col-sm-7 dataLabel"> <span style="float: left;">@Model.strColFormStartDateTime</span></div>
                        </div>
                        <div class="row headerColRow">
                            <div class="col-sm-5 boldLabel"> <span style="float: right; ">Obs Completed:</span></div>
                            <div class="col-sm-7 dataLabel"> 
                                <span style="float: left; ">
                                @if (@Model.strColFormSubmittedDateTime.Equals("")) { <tex> - Not Completed -</tex>}
                                else { @Model.strColFormSubmittedDateTime}                                
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <section id="formBody" style="overflow-y:auto; margin-top:115px; margin-left:2px; padding:0; height:600px" >

    @foreach (var sec in Model.sections)
    {
      <div class="panel panel-default" style="margin:0px 0px; ">
         <div class="panel-heading" style="background-color:#292222">
            <h4 class="panel-title" style="color:white">
                 @sec.sectionName
            </h4>
         </div>
         <div class="panel-body content" style="padding:0px;">
           @foreach (var quest in sec.questions)
           {
             <div class="@quest.responseClass" style="margin: 1px 2px 0px 2px; padding:0px;">
                 @*------------------------------ QUESTION SECTION --------------------------------------------*@
                 <div class="row" style="font-weight:bold;margin:0px 5px 7px 8px; margin-top: 3px; padding:0px; ">
                    <div class="col-sm-10" style="margin:0px 0px; padding-left:3px">
                         <span style="font-size:large">@qcounter&nbsp;&nbsp;</span><span style="font-size:medium">@quest.questionText</span>
                    </div>
                    <div class="col-sm-2" style="margin:0px 0px">
                       @if (@quest.responseClass.Equals("unanswered"))
                       { <span style="float:right; color:red; font-size:x-small; margin-right:20px">*Answer Pending</span> }
                    </div>
                 </div>
                 @*<div class="row" style="margin-left:30px">
                     can add comment: @quest.canAddComment  must add comment: @quest.mustAddComment
                 </div>*@
                 @*------------------------------ ANSWER SECTION ---------------------------------------------*@
                 <div class="row" style="margin:0px 0px 0px 25px; padding:0px;">
                   @{
                       string colWidth = "";
                       if (quest.showsNA.Equals("true")) { colWidth = "col-sm-11"; }
                       else { colWidth = "col-sm-12"; }
                   }

                       <div class="@colWidth" >
                         @if (quest.answerType == "FREE_TXT")
                         {// Show FREE TEXT ANSWER BOX
                            <div class='fake_textarea' style="margin-left: -3px; width: 99%; background-color:white">
                                <b>Answer: </b> @quest.comments.Trim()
                            </div>
                            @*<fieldset class="textComment">
                                    <legend class="textComment">Answer</legend>
                                    @quest.comments.Trim()
                            </fieldset>*@
                         }
                         else
                         {
                            <ul class="list-inline">
                              @foreach (var ans in quest.answers)
                              {
                                 if (ans.isSelected)
                                 {
                                    <li><span class="badge" style="padding:6px">@ans.answerText</span></li>
                                 }
                                 else
                                 {
                                    <li>@ans.answerText</li>
                                 }
                              }
                            </ul>
                         }
                       </div>

                   @if (quest.showsNA.Equals("true"))
                   {
                       <div class="col-sm-1">
                          @if (quest.naSelected) { <span class="badge" style="padding:6px">N/A</span>                 }
                          else                   { <span class="badge badge-outline" style="padding:6px;">N/A</span>  }
                       </div>
                   }

                    </div>
                 @*------------------------------ ANSWER COMMENT SECTION ---------------------------------------------*@
                 @* ----  Display the Comment Box Only if the Question is not a FREE_TEXT question -----   *@
                 @if (quest.answerType != "FREE_TXT")
                 {
                     <div class="row" style="margin:0px 0px 0px 20px; padding:0px 0px 0px 0px; ">
                       @if (!String.IsNullOrEmpty(quest.comments))
                       {
                           <div class='fake_textarea'>
                               <b>Comment: </b> @quest.comments
                           </div>
                       }
                     </div>
                 }
             </div>
              qcounter += 1;
           }
         </div>
      </div>
    }
      <br />
      <div class="row" style="margin:0; padding:0;text-align:center; font-style:italic; color:darkgray">Form Id: @Model.obsColFormInstId <span style="margin-left:10px">Version: @Model.colFormVersion</span></div>
  </section>
</div>

<br />
<br />


<script>
    $(document).ready(function () {
        //Adjust or Set the correct Margin Height of the Form Body
        //$("#formBody").css("margin-top", $("#formHeader").outerHeight() - 12 + 50);

        $("#formBody").css("height", ($(window).height() - $("#formHeader").outerHeight() - 260));

        //---------------------------------------------------------------------------
        $("#btnPrintForm").click(function (e) {
            e.preventDefault();

            @*var url = "http://dsccognosdevws1.dsccorp.net/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=/content/folder[%40name='SDK Testing']/report[%40name='Observation Collection Form']&ui.name=Observation Collection Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
            url = url + cfiIf + "&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=/ibmcognos/cgi-bin/cognosisapi.dll?b_action=xts.run&m=portal/cc.xts&m_folder=iFA794FAF9D6A4AC6B67192521DB5FAD9";*@

            //obsAlert('Preview Not available at this time!');
            //BootstrapDialog.alert("Hello!");
            //obsConfirm('Preview Not available at this time!');

            @*var cfiIf = @Model.obsColFormInstId;
            var url = "http://dsccognosdevws1.dsccorp.net/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%20Testing%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%27%5d&ui.name=Observation%20Collection%20Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
                url = url + cfiIf + "&ui=h1&cv.header=false&cv.toolbar=false" + "&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=%2fibmcognos%2fcgi-bin%2fcognosisapi.dll%3fb_action%3dxts.run%26m%3dportal%2fcc.xts%26m_folder%3diFA794FAF9D6A4AC6B67192521DB5FAD9";


            var urlProd = "http://dsccognosprdws1.dsccorp.net/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%20Testing%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%27%5d&ui.name=Observation%20Collection%20Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
                urlProd = urlProd + cfiIf + "&ui=h1&cv.header=false&cv.toolbar=false" + "&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=%2fibmcognos%2fcgi-bin%2fcognosisapi.dll%3fb_action%3dxts.run%26m%3dportal%2fcc.xts%26m_folder%3diCB0D41DDB02D428D8A78DB5821709948";
            *@

            //window.open(urlProd);
            //window.open(url, "popupWindow", "width=600,height=800,scrollbars=yes");

            window.open('@Model.colFormPrintPath');

        });
        //---------------------------------------------------------------------------
        $("#printColForm").click(function (e) {
            e.preventDefault();            
            var url;
            var server_env = "@Model.colFormPrintPath";
            alert("You are in the " + server_env + " Environment.");
            @*if (server_env == "PROD") {
                url = "http://dsccognosprdws1.dsccorp.net:80/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%20Testing%27%5d%2freport%5b%40name%3d%27Observation%20Collection%20Form%27%5d&ui.name=Observation%20Collection%20Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
                url = url + "@Model.obsColFormInstId" + "&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=/ibmcognos/cgi-bin/cognosisapi.dll?b_action=xts.run&m=portal/cc.xts&m_folder=i949DC5C8B6684AD2A14B6223F6707FF2";

            }
            else {
                url = "http://dsccognosdevws1.dsccorp.net/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=/content/folder[%40name='SDK Testing']/report[%40name='Observation Collection Form']&ui.name=Observation Collection Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
                url = url + "@Model.obsColFormInstId" + "&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=/ibmcognos/cgi-bin/cognosisapi.dll?b_action=xts.run&m=portal/cc.xts&m_folder=iFA794FAF9D6A4AC6B67192521DB5FAD9";
            }
            window.open(url);*@
        });

        $("#printReviewForm").click(function (e) {
            e.preventDefault();
            var url;
            var server_env = "@Model.colFormPrintPath";
            if (server_env == "PROD") {
                url = "http://dsccognosprdws1.dsccorp.net:80/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%20Testing%27%5d%2freport%5b%40name%3d%27Observation%20Review%20Form%27%5d&ui.name=Observation%20Review%20Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
                url = url + "@Model.obsColFormInstId" + "&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=/ibmcognos/cgi-bin/cognosisapi.dll?b_action=xts.run&m=portal/cc.xts&m_folder=i13301404088D41C1AA45A356348F4CCA";

            }
            else
            {
                url = "http://dsccognosdevws1.dsccorp.net/ibmcognos/cgi-bin/cognosisapi.dll?b_action=cognosViewer&ui.action=run&ui.object=%2fcontent%2ffolder%5b%40name%3d%27SDK%20Testing%27%5d%2freport%5b%40name%3d%27Observation%20Review%20Form%27%5d&ui.name=Observation%20Review%20Form&run.outputFormat=PDF&run.prompt=false&p_cfi_id=";
                url = url + "@Model.obsColFormInstId" + "&ui=h1&cv.header=false&cv.toolbar=false&CAMNamespace=DSCLogistics&CAMUsername=cog_sdk&CAMPassword=Cog4u2!&ui.backURL=%2fibmcognos%2fcgi-bin%2fcognosisapi.dll%3fb_action%3dxts.run%26m%3dportal%2fcc.xts%26m_folder%3diFA794FAF9D6A4AC6B67192521DB5FAD9";

            }
             window.open(url);
        });


    });
</script>
