@model OBSPRO.Models.Dashboard
@{
    ViewBag.Title = "Home Page";
}
@{
    int loopCounter = 0;    
}
<div class="jumbotron" style="padding:10px; margin-bottom:10px">
    <div style="font-size:large">
        <span style="font-weight:bold;">User Name:</span>
        @User.Identity.Name
    </div>
</div>

<fieldset style="border: double 6px black" name="TEST" title="USER DASHBOARD">
    <span class="glyphicon glyphicon-dashboard" style="text-align:center; width:80%; font-weight:bold; font-size:larger"> &nbsp; USER DASHBOARD</span><br />
    <div class="row dashboard" style="margin:5px 20px">
        
        @*- - - - - - - - - - - - - - - - - - - - -  Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - - - - -*@
        <div class="row personal-info">
            <div class="panel panel-info">
                <!-- PANEL HEADER-->
                <div class="panel-heading">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <a class="accordion-toggle" data-toggle="collapse" href="#panelSection01">
                                    <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                    @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                    @*<span class="caret">&nbsp;</span>*@
                                    <b>OPEN OBSERVATIONS</b>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- PANEL BODY -->
                <div class="panel-body collapse in" id="panelSection01">
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Form Id</th>
                                <th>FORM TITLE</th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                @*<th>OBS Status</th>*@
                                <th style="text-align:center">ADP Id</th>
                                <th style="text-align:center">Local Id</th>
                                <th style="text-align:center">Observation Started Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.user_open_obs.Count() == 0)
                            { // No records Found
                                <tr>
                                    <td colspan="7" style="text-align:center">
                                        <div class="alert-warning">There are No Forms to Display</div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var observation in Model.user_open_obs)
                                {
                                    var dateStarted = Convert.ToDateTime(observation.obs_start_time).ToString("MMM dd, yyyy  @ [hh:mm tt]");
                                    <tr>
                                        <td>@observation.form_inst_id </td>
                                        <td>@observation.form_title</td>
                                        <td>@observation.observed_first_name</td>
                                        <td>@observation.observed_last_name</td>
                                        @*<td>@observation.status</td>*@
                                        <td style="text-align:center">@observation.observed_adp_id</td>
                                        <td style="text-align:center">@observation.observed_id</td>
                                        <td style="text-align:center">@dateStarted</td>
                                    </tr>
                                    if (loopCounter >= 5 || loopCounter == Model.user_open_obs.Count) { loopCounter = 0; break; }
                                }
                            }
                        </tbody>
                    </table>
                    @if (Model.user_open_obs.Count() > 5)
                    {
                        // Allow full list Display Option
                        @Html.ActionLink("show More ...", "noaction")
                    }
                </div>
            </div>
        </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->
        @*- - - - - - - - - - - - - - - - - - - - -  Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - - - - -*@
        <div class="row personal-info">
            <div class="panel panel-info">
                <!-- PANEL HEADER-->
                <div class="panel-heading">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <a class="accordion-toggle" data-toggle="collapse" href="#panelSection02">
                                    <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                    @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                    @*<span class="caret">&nbsp;</span>*@
                                    <b>READY FOR REVIEW</b>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- PANEL BODY -->
                <div class="panel-body collapse in" id="panelSection02">
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Form Id</th>
                                <th>FORM TITLE</th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                @*<th>OBS Status</th>*@
                                <th style ="text-align:center">ADP Id</th>
                                <th style="text-align:center">Local Id</th>
                                <th style="text-align:center">Observation Started Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach ( var observation in Model.user_ready_obs)
                            {
                                var dateStarted = Convert.ToDateTime(observation.obs_start_time).ToString("MMM dd, yyyy  @ [hh:mm tt]");
                                <tr>
                                    <td>@observation.form_inst_id</td>
                                    <td>@observation.form_title</td>
                                    <td>@observation.observed_first_name</td>
                                    <td>@observation.observed_last_name</td>
                                    @*<td>@observation.status</td>*@
                                    <td style="text-align:center">@observation.observed_adp_id</td>
                                    <td style="text-align:center">@observation.observed_id</td>
                                    <td style="text-align:center">@dateStarted</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.ActionLink("show More ...", "noaction")
                </div>
            </div>
        </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->
        @*- - - - - - - - - - - - - - - - - - - - -  Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - - - - -*@
        <div class="row personal-info">
            <div class="panel panel-info">
                <!-- PANEL HEADER-->
                <div class="panel-heading">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <a class="accordion-toggle" data-toggle="collapse" href="#panelSection03">
                                    <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                    @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                    @*<span class="caret">&nbsp;</span>*@
                                    <b>COMPLETED OBSERVATIONS</b>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- PANEL BODY -->
                <div class="panel-body collapse in" id="panelSection03">
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Form Id</th>
                                <th>FORM TITLE</th>
                                <th>FIRST NAME</th>
                                <th>LAST NAME</th>
                                @*<th>OBS Status</th>*@
                                <th style="text-align:center">ADP Id</th>
                                <th style="text-align:center">Local Id</th>
                                <th style="text-align:center">Observation Started Date/Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach ( var observation in Model.user_complete_obs)
                            {
                                var dateStarted = Convert.ToDateTime(observation.obs_start_time).ToString("MMM dd, yyyy  @ [hh:mm tt]");
                                <tr>
                                    <td>@observation.form_inst_id</td>
                                    <td>@observation.form_title</td>
                                    <td>@observation.observed_first_name</td>
                                    <td>@observation.observed_last_name</td>
                                    @*<td>@observation.status</td>*@
                                    <td style="text-align:center">@observation.observed_adp_id</td>
                                    <td style="text-align:center">@observation.observed_id</td>
                                    <td style="text-align:center">dateStarted</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @Html.ActionLink("show More ...", "noaction")
                </div>
            </div>
        </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->
    </div>
</fieldset>