@model OBSPRO.Models.Dashboard
@{
    ViewBag.Title = "Dashboard";
}
@{
    int loopCounter = 0;
    string userName = @Session["first_name"].ToString() + " " + @Session["last_name"].ToString();
}
<style>
    .personal-info {
        margin: 0px;
    }
</style>
<div class="row" style="margin:0px; ">
    <div id="dashboardTitle" class="col-sm-8" style="margin:0px; padding:6px; text-align:center; width:100%; background-color:#d9eff6">
        <span style="font-weight:bold; font-size:larger; vertical-align:bottom">RECENT OBSERVATIONS</span><br />
    </div>
</div>
<br />
<div class="row dashboard" style="margin:0px; ">
    @*- - - - - - - - - - - - - - STARTED OBSERVATIONS Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - -*@
    <div class="row personal-info">
        <div class="panel panel-info">
            <!-- PANEL HEADER-->
            <div class="panel-heading">
                <table style="width:100%; ">
                    <tr>
                        <td>
                            <a class="accordion-toggle" data-toggle="collapse" href="#panelSection01">
                                <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                @*<span class="caret">&nbsp;</span>*@
                                <b>STARTED OBSERVATIONS</b>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- PANEL BODY -->
            <div class="panel-body collapse in" id="panelSection01">
                @Html.Partial("_RecentTopObs_View", Model.user_open_obs, new ViewDataDictionary { { "isSuperUser", Model.isSuperUser }, { "isStarted", true }})

                @if (Model.user_open_obs.Count() > 5)
                {
                    // Allow full list Display Option
                    @Html.ActionLink("show More ...", "Index", "Observation", new { frmStatus = "Started" }, null)
                }
            </div>
        </div>
    </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->

    @*- - - - - - - - - - - - - - - READY FOR REVIEW Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - - -*@
    <div class="row personal-info">
        <div class="panel panel-info">
            <!-- PANEL HEADER-->
            <div class="panel-heading">
                <table style="width:100%">
                    <tr>
                        <td>
                            <a class="accordion-toggle" data-toggle="collapse" href="#panelSection02">
                                <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                @*<span class="glyphicon glyphicon-collapse-up">&nbsp;</span>*@
                                @*<span class="caret">&nbsp;</span>*@
                                <b>READY FOR REVIEW</b>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- PANEL BODY -->
            <div class="panel-body collapse in" id="panelSection02">
                
                @Html.Partial("_RecentTopObs_View", Model.user_ready_obs, new ViewDataDictionary { { "isSuperUser", Model.isSuperUser }, { "isStarted", false } })

                @if (Model.user_ready_obs.Count() > 5)
                {
                    // Allow full list Display Option
                    @Html.ActionLink("show More ...", "Index", "Observation", new { frmStatus = "Ready for Review" }, null)
                }
            </div>
        </div>
    </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->

    @*- - - - - - - - - - - - - - - COMPLETED OBSERVATIONS Collapsible Panel Section  - - - - - - - - - - - - - - - - - - - - - - -*@
    <div class="row personal-info">
        <div class="panel panel-info">
            <!-- PANEL HEADER-->
            <div class="panel-heading">
                <table style="width:100%">
                    <tr>
                        <td>
                            <a class="accordion-toggle" data-toggle="collapse" href="#panelSection03">
                                <span class="glyphicon glyphicon-minus">&nbsp;</span>
                                <b>REVIEWED OBSERVATIONS</b>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- PANEL BODY -->
            <div class="panel-body collapse in" id="panelSection03">

                @Html.Partial("_RecentTopObs_View", Model.user_complete_obs, new ViewDataDictionary { { "isSuperUser", Model.isSuperUser }, { "isStarted", false } })

                @if (Model.user_complete_obs.Count() > 5)
                {
                    // Allow full list Display Option
                    @Html.ActionLink("show More ...", "Index", "Observation", new { frmStatus = "REVIEWED" }, null)
                }
            </div>
        </div>
    </div> <!-- _______________ END OF COLLAPSIBLE PANEL SECTION ___________________ -->
</div>

<script>
    $(document).ready(function () {
        $("#dashboardTitle").height($("#userDIV").height());
        //$(".menu01").css("color", "white");
    });
</script>
